<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"
    "http://ibatis.apache.org/dtd/sql-map-2.dtd">

<sqlMap namespace="menu">
	
	<select id="getMenu" resultClass="java.util.HashMap" parameterClass="java.util.HashMap">
		<![CDATA[
    		SELECT MENU_ID, MENU_NM, URL, DEPTH,
    		(SELECT MENU_ID FROM T_MENU B WHERE B.PARENT_ID=A.MENU_ID AND B.SORT_NO='1' AND ROWNUM = '1') SMENU_ID,
			CASE WHEN (SELECT COUNT(*) FROM T_MENU_AUTH WHERE ADMIN_ID = #USER_ID# AND MENU_ID=A.MENU_ID AND RECODE_ST='A') > 0 THEN 'Y' ELSE 'N' END MENU_AUTH
			FROM T_MENU A
    		WHERE RECODE_ST = 'A' AND DEPTH='1' AND MENU_TYP='AM' AND ADM_TYP = 'GKL'
			ORDER BY SORT_NO
    	]]>
	</select>
	
<!-- 2depth -->
	<select id="getSubMenu" resultClass="java.util.HashMap" parameterClass="java.util.HashMap">
		<![CDATA[
    		SELECT MENU_ID, MENU_NM, URL, DEPTH
			FROM T_MENU
    		WHERE RECODE_ST = 'A' AND DEPTH='2' AND MENU_TYP='AM' AND ADM_TYP = 'GKL'
    	]]>
    	<isEmpty property="TMENUID">
    		AND PARENT_ID = 'ME_MAIN'
    	</isEmpty>
    	<isNotEmpty property="TMENUID">
			AND PARENT_ID = #TMENUID#
		</isNotEmpty>
		<![CDATA[
			ORDER BY SORT_NO
    	]]>
	</select>
	
<!-- 3depth -->
	<select id="getSubMenu2" resultClass="java.util.HashMap" parameterClass="java.util.HashMap">
		<![CDATA[
    		SELECT MENU_ID, MENU_NM, URL, DEPTH, PARENT_ID
			FROM T_MENU
    		WHERE RECODE_ST = 'A' AND DEPTH='3' AND MENU_TYP='AM' AND ADM_TYP = 'GKL'
    	]]>
		<![CDATA[
			ORDER BY SORT_NO
    	]]>
	</select>

</sqlMap>
